<div class="center-outer">
  <div class="center-inner">
  <p>This is the signup page.</p>
  <form name="form" ng-submit="signup()" role="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" placeholder="{{selectedType === userTypes[0] ? 'email' : 'username'}}" name="username" id="username" ng-model="username" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" placeholder="enter password" name="password" id="password" ng-model="password" required />
    </div>
    <div class="form-group">
      <label for="type">User Type</label>
      <select ng-model="selectedType">
        <option name="type" id="type" ng-repeat="type in userTypes" value="{{type}}">{{type}}</option>
      </select>
    </div>
    <div class="form-actions">
      <button type="submit" >Sign Up</button>
    </div>
  </form>
  </div>
</div>