header{
  height:100px;
  border-bottom:1px solid black;
  background-color:#e9e9e9;
  padding:0 20px;
}
header .header-thing{
  height:20px;
  line-height:20px;
  padding:10px;
  float:right;
  margin-top:30px;
}
.button{
  border: 1px solid #999;
  background-color:#ddd;
  cursor:pointer;
}
.button:hover{
  background-color:#bbb;
}
.center-outer{
  position:relative;
  height:100vh;
  height:calc(100vh - 101px);
}
.center-inner{
  height:100px;
  width:300px;
  position:absolute;
  margin: auto auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.form-group{
  margin:5px 0;
}
label{
  width:80px;
  display:inline-block;
}