<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MainCtrl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
</head>
<body>
  
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header>
    <div class="logout header-thing button" ng-show="loggedIn" ng-click="logout()" ng-bind="'logout'"></div>
    <div id="username" class="name header-thing" ng-show="loggedIn" ng-bind="name"></div>
  </header>
  
  <div ng-view></div>
  
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="app.js"></script>
  <script src="views/login/login.js"></script>
  <script src="views/dashboard/dashboard.js"></script>
  <script src="views/signup/signup.js"></script>
  <script src="services.js"></script>
</body>
</html>
