<div class="center-outer">
  <div class="center-inner">
    <form name="form" ng-submit="login()" role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" placeholder="enter username" name="username" id="username" ng-model="username" required />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="enter password" name="password" id="password" ng-model="password" required />
    </div>
    <div class="form-group">
        <label for="password">Remember Me</label>
        <input type="checkbox" name="rememberMe" id="rememberMe" ng-model="rememberMe"/>
    </div>
    <div style="color:red" id="failed-login-message" ng-show="failedLogin" ng-bind="'Login unsuccessful'"></div>
    <div style="color:orange" ng-show="attemptingLogin" ng-bind="'please wait'"></div>
    <div class="form-actions">
        <button type="submit" >Login</button>
    </div>
</form>
  </div>
</div>